@model IEnumerable<Repository.Models.StockSymbol>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<div class="content-wrapper">
    <div class="container-full">
        <section class="content">
            <div class="col-xl-12 col-12">
                <div class="box">
                    <p>
                        <a href="/StockSymbol/CreateSymbol" class="btn btn-danger mt-10" style="float:right;    margin-right: 10px;">Create New</a>
                    </p>
                    <div class="box-body">

                        <div class="table-responsive customize-responsive-table">
                            <table class="table mt-0 table-hover no-wrap" data-page-size="10">
                                <thead>
                                    <tr>
                                        <th>
                                            Symbol
                                        </th>
                                        <th>
                                            Company Name
                                        </th>
                                       
                                        <th>
                                            Status
                                        </th>
                                        <th>
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null && Model.Any())
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Symbol)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.CompanyName)
                                                </td>
                                              
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.StatusText)
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("CreateSymbol","StockSymbol",new{id = item.Id.ToString()})"
                                                       class="waves-effect btn btn-info  btn-xs"
                                                       data-bs-toggle="tooltip"
                                                       data-bs-original-title="Update">
                                                        <i data-feather="edit" aria-hidden="true"></i>
                                                    </a>
                                                    @*    @Html.ActionLink("Edit", "CreateUser", new { id = item.Id.ToString() }) | *@
                                                    <a href="@Url.Action("DeleteSymbol","StockSymbol",new{id = item.Id.ToString()})"
                                                       class="waves-effect btn btn-info  btn-xs"
                                                       data-bs-toggle="tooltip"
                                                       data-bs-original-title="Delete">
                                                        <i data-feather="trash" aria-hidden="true"></i>
                                                    </a>
                                                    @*     @Html.ActionLink("Delete", "DeleteUser", new { id = item.Id.ToString() }) *@
                                                </td>
                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>
            </div>

        </section>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>